---
interface Props {
  title: string
  url: string
  date: string
}

const { title, url, date } = Astro.props;
---
<a href={url}>
  <div class="flex flex-col overflow-hidden transition-all rounded-xl p-4 ring-2 ring-slate-200 dark:ring-slate-800  hover:ring-slate-950 dark:hover:ring-slate-50">
    <div class="text-md font-medium truncate">
      {title}
    </div>
    <div class="text-sm text-gray-500">
      {date}
    </div>
  </div>
</a>
