---
interface Props {
  title: string
  description: string
  url: string
  date: string
}

const { title, url, date } = Astro.props;
---
<a href={url}>
<div class="flex flex-col overflow-hidden transition-all rounded-3xl p-4 ring-1 ring-slate-200 dark:ring-slate-800  hover:ring-slate-950 dark:hover:ring-slate-50">
        <div class="text-md font-bold truncate">
          {title}
        </div>
                <div class="text-xs">
                    {date}
                </div>
</div>
</a>
