---
import { Image } from 'astro:assets'
import HarvestCoverJpg from '@/assets/image/harvest-fields-in-westerham.jpg';
---

<section
  class="relative flex flex-col gap-4 p-6 pt-24 transition-all"
>
<Image
  class="absolute inset-0 -z-10 size-full object-cover sm:rounded-xl"
  src={HarvestCoverJpg}
  alt="Harvest Fields in Westerham"
/>
<legend>
  <h2 class="text-4xl">✨</h2>
  <h2 class="font-serif text-4xl font-bold">Coding with Love, Exploring the World.</h2>
</legend>
<div class="flex items-center gap-4 p-2 text-xl leading-4">
  <a href="https://github.com/xatloon" aria-label="GitHub" target="_blank" class=""><span class="i-mingcute-github-line"></span></a>
  <a href="https://x.com/xatloon" aria-label="Twitter/X" target="_blank" class=""><span class="i-mingcute-social-x-line"></span></a>
  <a href="https://t.me/xatloon" aria-label="Telegram" target="_blank" class=""><span class="i-mingcute-telegram-line"></span></a>
</div>
</section>
