---
import Layout from './Layout.astro'

interface Props {
  title: string
}
const { title } = Astro.props
---

<Layout title={`Xat - ${title}`}>
  <h2 class="font-black text-4xl leading-loose bg-clip-text dark:text-transparent bg-gradient-to-r from-fuchsia-600 via-orange-600 to-pink-600 my-4">{title}</h2>
  <article class='prose max-w-none dark:prose-invert'>
  <slot />
  </article>
</Layout>
